#report {
	float: left;
	width: 50%;
	margin-bottom: 30px;
}

#wallet_table {
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	border-collapse: collapse;
}

#wallet_table tr {
    height: 36px;
}
#wallet_table tfoot {
    font-weight: bold;
}

#wallet_table td {
    padding-left: 16px;
    padding-right: 16px;
    text-align: right;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

[tooltip]{
	position:relative;
}
[tooltip]:after{
	content:attr(tooltip);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	top:15%;
	font-size: 8pt;
}
[tooltip]:hover:after{
	left:50%;
	opacity:1;
	z-index: 999;
}
